[submodule "v2-lensgpt"]
	path = v2-lensgpt
	url = git@github.com:gelatodigital/lensgpt-tutorial.git
[submodule "v1-enzyme-vault"]
	path = v1-enzyme-vault
	url = git@github.com:gelatodigital/enzyme-poc.git
[submodule "v2-bprotocol.liquidation"]
	path = v2-bprotocol.liquidation
	url = https://github.com/gelatodigital/w3f-bprotocol-liquidation.git
[submodule "v2-nft-ai"]
	path = v2-nft-ai
	url = git@github.com:gelatodigital/w3f-nft-ai.git
[submodule "v2-pyth-poc"]
	path = v2-pyth-poc
	url = git@github.com:gelatodigital/w3f-pyth-poc-v2.git
[submodule "template-w3f-hardhat"]
	path = template-w3f-hardhat
	url = git@github.com:gelatodigital/web3-functions-hardhat-template.git
[submodule "template-w3f"]
	path = template-w3f
	url = git@github.com:gelatodigital/web3-functions-template.git
[submodule "v2-red-stone-poc"]
	path = v2-red-stone-poc
	url = https://github.com/gelatodigital/w3f-red-stone-poc-v2
[submodule "v2-task-from-contract"]
	path = v2-task-from-contract
	url = https://github.com/gelatodigital/w3f-red-stone-poc-v2
[submodule "v2-shared-storage-polybase"]
	path = v2-shared-storage-polybase
	url = https://github.com/gelatodigital/w3f-shared-storage-between-tasks-polybase
